.card {
  border: 3px double gold;
  max-width: 400px;
  width: 400px;
  /* padding: 0 1rem; */
  font-family: 'PT Serif';
  position: relative;
  /* overflow: hidden; */
  margin: 1rem;
  display: inline-block;
}

.title {
  font-family: 'exocet';
  font-size: 1.5rem;
  font-weight: normal;
  margin: 8px;
  line-height: 1.7rem;
}

.subtitle {
  margin: 8px;
}

.power {
  margin: 8px;
}

.icon {
  /* position: absolute;
  top: 0; 
  right: 0; */
  float: right;
  /* border-bottom: 1px solid gold;
  border-left: 1px solid gold; */
  /* Additional styling for the icon as needed */
}

.affix {
  margin: 8px;
}
