.testPage {
  max-width: 1200px;
  margin: 0 auto;
}

.diabloTitle {
  font-family: 'exocet';
}

.diabloText {
  font-family: 'PT Serif';
}

.container {
  /* Aligns items to the start of the container*/
  align-items: start;
  display: grid;
  gap: 8px;
  /* Three columns with equal width */
  grid-template-columns: 1fr 1fr 1fr;
  margin: 8px;
  text-align: left;

  /* Optional: Add some responsive behavior */
  @media (max-width: 768px) {
    /* Stack the columns on smaller screens */
    grid-template-columns: 1fr;
    gap: 8px;
  }
}

.imageColumn,
.textColumn {
  margin: 4px;
  padding: 4px;
  font-size: 12pt;
  text-align: left;
  position: relative;
}

.result {
  font-family: 'PT Serif', serif;
  font-size: 14pt;
  margin: 0;
}
